.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-image: linear-gradient(to bottom, rgb(37, 47, 95) 0%, rgba(50, 50, 50, 0) 100%);
  opacity: 0.95;
  padding-bottom: 5px;
}

.App-header h1 {
  margin-bottom: 0;
  font-family: "Poppins";
}

body h1 {
  margin-top: 0;
  margin-bottom: 12px;
}
.App {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../../images/home-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100vh;
  /* filter: grayscale(40%); */
  opacity: 0.95;
}
.App-options {
  position: absolute;
  top: 230px;
  right: 100px;
  width: 25%;
  height: 45%;
  background-color: #ededed;
  padding: 20px;
  justify-content: center;
  align-items: stretch;
  display: flex;
  gap: 10px;
  flex-direction: column;
  border-radius: 13px;

}

.App-options button {
  font-size: 15px;
  border-radius: 7px;
  border-color: #3846cb;
}

.App-subheader {
  font-size: 20px;
  color: #3846cb;
}

.App-name {
  text-align: left;
  padding: 10px 0px 0px 40px;
  margin: 0;
  color: white;
}

.App-paragraph {
  align-self: center;
  font-size: 17px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.slogan {
  width: 100%;
  font-size: 4rem;
  /* -webkit-text-stroke: 0.8px white; */
  color: transparent;
  background-image: linear-gradient(#fff, #fff);
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  background-position: -1250px, 0;
  animation: bgcolor 5s linear infinite alternate;
  font-family: "Poppins";

}

@keyframes bgcolor {
  100%{
    background-position: -100px 0;
  }

}

.center-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 88vh;
}

.get-started {
  font-family: "Montserrat", "PT Sans";
  font-size: 2.3rem;
  border-radius: 12px;
  padding: 19px;
  background-color: #3846cb;
  border: none;
  color: white;
  font-weight: 500;
  filter: drop-shadow(0px 4px 4px rgba(94, 86, 86, 0.5));
  cursor: pointer;
}


/* Auto layout */
/* display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 10px;
isolation: isolate; */

