:root {
    --sidebar-width: 18%;
    --sidebar-width-mobile: 70%;
    --header-height-mobile: 30px;
  }

.menu-button {
    margin-top: 18px;
    height: 40px;
    width: 40px;
    border:none;
    border-radius: 50%;
}

.menu-button svg {
    width: 55%;
    height: 100%;
}

.menu-button .fa-svg-icon {
    font-size: .5rem; 
} 

.selected{
    background-color: #3846cb;
    color: white;
}

.map-feature-button {
    color: #3846cb;
}

#buttons-container p {
    margin: 0;
    margin-top: 10px;
    font-size: 0.8rem;
    font-family: Poppins;
}

#buttons-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;
    padding-bottom: 36px;
}

  .hidden {
    display: none;

    .sidebar {
        transition: width 0.5s ease-in-out;
    }
  }

  .cancelML {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 10px;
    right: 70px;
    color: white;
    font-size: 1.5rem;
    font-family: Poppins;
    box-shadow: rgba(62, 62, 62, 0.2) 0px 8px 24px;
    cursor: pointer;
  }

.features {
display: grid;

}

.slider-component {
    color: white;
    margin-bottom: -5px;
}

.screen-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffcccc;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.sidebar {
  width: var(--sidebar-width);
  padding: 0px 15px;
  background-color: white;
  position: absolute;
  z-index: 2;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  overflow-y: scroll;
  scrollbar-width: thin;
  border-bottom-right-radius: 7px;
  height: 100vh;
}


.short {
  --sidebar-width: 50px;
  width: var(--sidebar-width);
  text-align: center;
  height: 100vh;
  padding-bottom: 12px;

  .title {
    display: none;
  }
  .menu-button {
    height: 60px;
  }

  .menu-button p {
    display: none;
  }
  .menu-button .fa-svg-icon {
    font-size: 1.5rem; 
  } 
}

.machine-learning-button:hover {
    background-color: #1e3a8a; 
}

.close-sidebar-btn:hover {
  background-color: #1e3a8a; 
  cursor: pointer !important;
}

.close-sidebar-btn button {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  font-size: 1.5rem; 
  color: white;
}

.menu-button .button-name {
  position: absolute;
  top: calc(100% + 10px);
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.menu-button:hover .button-name {
  visibility: visible;
  opacity: 1;
}

.HomeSphere-Title {
margin-top: 10px;
font-size: 10px;
color: #3846cb;
}

.HomeSphere-Title h2 {
  color: black;
  display: flex;
  align-items: center;
}
.HomeSphere-Title h2 button {
  background: none;
  border: none;
  margin-left: 10px;
  font-size: 15px;
}

.machine-learning-window {
    margin-top: -22px;
}
.machine-learning-window_boxes {
    margin: 5px 0px;
    display: flex;
    flex-direction: row;
    font-size: 12px;
    padding-right: 30px;
}

.close-sidebar-btn img {
    cursor: pointer;
    width: 23px;
    height: auto;
  }
  
  .sidebar.short .close-sidebar-btn img {
    transform: rotate(180deg);
  }

.sidebar-btn {
    height: 30px;
}

.sidebar.shortened {
    overflow: hidden;
    height: auto;
}

.collapse-expand-left-btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    width: calc(var(--sidebar-width) + 60px); 
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    border-radius: 12px;
    border: none;
    height: 50px;
}

.collapse-expand-right-btn{
  width: 60px;
  left: -30px;
}

.right-btn {
    transform: rotate(180deg);
}

.machine-learning-window h3 {
    font-size: 15px;
    margin-bottom: 0px;
    font-family: math;
    margin-top: 25px;
}

.checkbox-label {
    margin-left: 5px;
    margin-top: -3px;
    font-family: math;
    font-size: 13px;
    position: relative;
    top: 4px;
    color: black;
}

.checkbox-container {
   display: flex;
    align-items: start;
    margin-top: 12px;
    font-size: 14px;
}
.machine-learning-window form p {
    font-size: 14px;
    font-family: math;
    text-align: left;
    bottom: 3px;
    position: relative;
    left: 0px;
}

.machine-learning-window form p label {
    bottom: 2px;
    position: relative;
    left: 3px;
    font-family: math;
    font-size: 15px;
}

.ml-btn button {
    background-color: #3846cb;
    border: none;
    color: white;
    position: relative;
    padding: 6px 14px;
    text-align: center;
    font-family: math;
    right: 5px;
    display: flex;
    top: 12px;
    font-weight: 600;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    margin-bottom: 7px;
    border-radius: 22px
}

.popup {
  padding: 20px;
}
/*   
  .ml-btn:hover button{
    background-color: #69696d; 
  } */

  @media (max-width: 768px) {
    .HomeSphere-Title {
      position:fixed;
      height: var(--header-height-mobile);
      width: 100%;
      top: 0;
      left: 0;
      margin-top: 0;
      background-color: #3846cb;
      color: white;
      text-align: center;
      z-index: 10;
    }
    .HomeSphere-Title h2 {
      display: flex;
      margin: 0 auto; /* Center horizontally */
      padding: 8px;
      color: black;
      background-color: rgba(255, 255, 255, 0.75);
      border-radius: 10px;
      align-items: center;
      width: fit-content; /* Set width to fit content */
    }

    .HomeSphere-Title h2 button {
      background: none;
      border: none;
      margin-left: 10px;
      font-size: 15px;
    }
    
    .sidebar {
      width: var(--sidebar-width-mobile);
      height: calc(100vh - 102px);
      top: var(--header-height-mobile);
      position: fixed;
      left: 0;
      border-bottom-right-radius: 0;
      border-top-left-radius: 7px;
      z-index: 2;
    }
    #buttons-container {
      overflow: auto;
      position: fixed;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding-bottom: 12px;
      z-index: 5;
      background: white;
      width: 99%;
    }
  
    #buttons-container p {
      text-align: center;
      margin: 5px;
      box-sizing: border-box;
    }
    #buttons-container > a > button {
      margin-left:10px;
      margin-right:10px;
    }

    .machine-learning-window {
      position: relative;
      top: var(--header-height-mobile);
      height: calc(100vh - var(--header-height-mobile));
      left: 0;
      right: 0;
      width: 100%;
      bottom: 50px;
      z-index: 1;
    }
  
    .machine-learning-window_boxes {
      flex-direction: column;
      align-items: center;
      padding-right: 0;
    }

    .slider {
      width: 95%;
    }

    .ml-btn {
      margin-bottom: 20px;
    }

    .collapse-expand-left-btn{
      width: calc(var(--sidebar-width-mobile) + 60px); 
    }
    .collapse-expand-right-btn{
      width: 60px;
      left: -30px;
    }
  }
  
  