:root {
    --sidebar-width: 250px; /* Default sidebar width */
  }

#homeBar {
    background-color: #3846cb;
    padding-top: 10px;
    padding-bottom: 3px;
    display: none;
}
#homeBar h1 {
    margin: 0;
    color: white;
}

.sidebar {
    width: var(--sidebar-width);
    padding: 0px 15px;
    background-color: white;
    height: 100vh;
    border-radius: 5%;
    position: absolute;
    z-index: 1;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: transform 0.5s ease-in-out, width 0.5s ease-in-out;
    /* Add transform-origin if you are using transform properties like skew or rotate */
    transform-origin: top left;

}

/* #population-button {
    margin-top: 15px;
} */
.sidebar .title {
margin-bottom: 5px;
font-family: Poppins;
font-size: 1.rem;
}

.menu-button {
    margin-top: 18px;
    height: 40px;
    width: 40px;
    border:none;
    border-radius: 50%;
}

.menu-button svg {
    width: 55%;
    height: 100%;
}

.homeBar .hamburger {
    margin-left: 5px;
    margin-right: 7px;
    cursor: pointer;
}

.short {
    --sidebar-width: 50px;
    width: var(--sidebar-width);
    text-align: center;
    height: fit-content;
    padding-bottom: 12px;

    .title {
        display: none;
    }
    .menu-button {
        height: 60px;
    }

    .menu-button p {
        display: none;
    }
    .menu-button .fa-svg-icon {
        font-size: 1.5rem; 
    } 
}

.menu-button .fa-svg-icon {
    font-size: 2.5rem; 
} 

.selected{
    background-color: #3846cb;
    color: white;
}

.map-feature-button {
    color: #3846cb;
}

#buttons-container p {
    margin: 0;
    margin-top: 10px;
    font-size: 0.8rem;
    font-family: Poppins;
}

#buttons-container {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.machine-learning-window {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(106, 119, 234, 0.9);
    z-index: 1;
    top: 0;
    padding: 1rem;
    /* text-align: center; */
    color: white;
    /* padding-top: 20vh; */

  }
  .disclaimer {
    margin-top: 5px;
    padding-right: 100px;
  }

  .hidden {
    display: none;
  }

  .cancelML {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 10px;
    right: 70px;
    color: white;
    font-size: 1.5rem;
    font-family: Poppins;
    box-shadow: rgba(62, 62, 62, 0.2) 0px 8px 24px;
    cursor: pointer;
  }

.features {
display: grid;

}

.slider-component {
    color: white;
}

.screen-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffcccc;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.mapContainer{
    margin-left: var(--sidebar-width);
    margin-right: 20px;
    height: 100vh;
    transition: margin-left 0.5s ease-in-out, width 0.5s ease-in-out;
  }

.shortMap{
    --sidebar-width: 50px;
  }

.close-sidebar-btn {
    position: absolute;
    right: 10px;
    margin-top: 15px;
    margin-right: 7px;
}
.HomeSphere-Title {
    position: absolute;
    margin-top: 17px;
    font-size: 8px;
    margin-left: 4px;
    color: #3846cb;
}