.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-image: url('/Users/asmahashmi/Documents/Capstone/HomeSphere-frontend/my-app/src/images/calgary13.jpeg');
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.App-options {
  position: absolute;
  top: 230px;
  right: 100px;
  width: 25%;
  height: 45%;
  background-color: #ededed;
  padding: 20px;
  justify-content: center;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: start;
}
.App-subheader {

}
.App-name {
  text-align: left;
  padding: 10px 0px 0px 40px;
  margin: 0;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
